* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #77c752;
  --secondary-color: #274618;
  --third-color--: #559f59;
  --title-colorh1--: #3ad916;
  --title_colorspan--: #b7d9af;
  --button-color: linear-gradient(90deg, #559f59 0%, #1f3920 100%);
  --font_color--: white;
}

body {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* list section */

.list_section {
  background-color: rgb(255, 255, 255);
  width: 800px;
  height: 700px;
  margin-top: 5vh;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;
  background-color: var(--secondary-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.title h1 {
  color: var(--title-colorh1--);
}

.title span {
  color: var(--title_colorspan--);
}

.title p {
  color: var(--third-color--);
}

.box_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  gap: 20px;
}

.box_list button {
  width: 100%;
  padding: 24px 32px;
  border: none;
  font-size: 14px;
  color: white;
  background: var(--button-color);
  border-radius: 12px;
}

.input_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 14px;
}

.input_label label {
  color: grey;
}

.input_list input,
select {
  padding: 12px 16px;
  width: 250px;
  height: 60px;
  border: 1px solid var(--third-color--);
  border-radius: 8px;
}

.input_label {
  display: flex;
  flex-direction: column;
}

/* filter list */

.filter_list {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  height: 50px;
  border-top: 1px solid var(--third-color--);
  padding: 12px 16px;
  font-size: 12px;
}
.filter_list .kiri {
  display: flex;
  gap: 12px;
}

.filter_list .kiri button {
  background-color: transparent;
  border: 1px solid var(--third-color--);
  display: flex;
  align-items: center;
  padding: 0 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.5s;
}

.filter_list .kiri button:hover {
  background-color: var(--third-color--);
  color: white;
}

.filter_list .kiri button.checked {
  background-color: var(--primary-color);
  border: none;
  color: white;
}

.filter_list .kanan {
  display: flex;
}

.filter_list .kanan button {
  border: 1px solid tomato;
  padding: 0 20px;
  color: tomato;
  border-radius: 12px;
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s;
}

.filter_list .kanan button:hover {
  background-color: tomato;
  color: white;
}

/* task list */

.task_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  height: 220px;
  border-top: 1px solid var(--third-color--);
  padding: 12px 20px;
}

.detailTask {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.task_list .kiri button {
  border: 1px solid var(--third-color--);
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}

.task_list .kiri button:hover {
  background-color: var(--third-color--);
  color: white;
}

.task_list .kiri button.checked {
  background-color: var(--third-color--);
  border: none;
  color: white;
}

.task_list .tengah {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.task_list .tengah .bawah {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 12px;
}

.task_list .tengah .bawah .prioritas {
  display: flex;
  justify-content: center;
  width: 80px;
  border-radius: 12px;
}

.task_list .kanan {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 63vh;
  font-size: 20px;
  color: grey;
  cursor: pointer;
}

.realtime_status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  gap: 20px;
  border-top: 1px solid var(--third-color--);
  
}

.realtime_status .statusTask{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  color: var(--third-color--);
}


.realtime_status .statusTask p{
  color: grey;
  font-size: 12px;
}



